:root {
    --bs-primary: #2B4C6E;
    --bs-secondary: #1E4D5A;
    --bs-success: #2790A5;
    --bs-danger: #DE6D54;
    --bs-light: #F0EBE1;
    --bs-dark: #00000B;
    --bs-primary-rgb: 43, 76, 110;
    --bs-secondary-rgb: 30, 77, 90;
    --bs-success-rgb: 39, 144, 165;
    --bs-danger-rgb: 222, 109, 84;
    --bs-light-rgb: 240, 235, 225;
    --bs-dark-rgb: 0, 0, 11;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-link-color: #2790A5;
    --bs-link-hover-color: #1E4D5A;
    --bs-highlight-bg: #F0EBE1;
  }